MYSQL_ROOT_PASSWORD=please_change_me
MYSQL_DATABASE=ruoyi-vue-pro
REDIS_PASSWORD=please_change_me
SPRING_PROFILES_ACTIVE=prod
SERVER_DOMAIN=translate.kunqiongai.com
FRONTDOOR_MODE=docker-host-nginx
PUBLIC_BASE_URL=https://translate.kunqiongai.com
YUDAO_SERVER_HOST_BIND=127.0.0.1
YUDAO_SERVER_HOST_PORT=48080
CLOUDFLARED_TOKEN=
